.my-input {
    background-color: #fcf3ea;
    border: none;
    border-bottom: 1px #cab299 solid;
    width: 90%;
    height: 40px;
    margin: 10px;
}

.my-input:focus {
    outline: none;
    border-bottom: 1px #5F5449 solid;
}