nav{
    position: sticky;
    top: 0px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    opacity: 50%;
}
.logo{
    text-decoration: none;
    color: #5F5449;
}

nav span{
    font-weight: bolder;
    font-size: 25px;
    text-decoration: underline;
    margin-left: 2em;
    margin-right: .5em;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}
nav ul li{
    padding: 1em;
    font-size: 20px;
}