.comment-item{
    padding: 1.5em;
    background-color: white;
    border-radius: 20px;
    margin: 30px;
}
.comment-item h3{
    text-transform: uppercase;
}
.comment-item p{
    margin-top: -5em;
    margin-left: 1em
}
